name: Build and publish a Docker image to ghcr.io
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - name: repo to lowercase
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
      - name: Build and publish a Docker image for ${{ github.repository }}
        uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ env.REPO }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          extra_args: "--tag ${{ env.REPO }}:${{ github.ref_name }}"