name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false

      - name: Lint with Makefile
        run: make lint
